<div id="video">
    <video width="320" height="240" style="margin-top: 40px;" controls> 
    <source src="/Assets/images/aboutme.mp4" type="video/mp4">
</div>


<style>

    body{
        height: 450px;
        background: rgb(68,245,121);
        background: radial-gradient(circle, rgb(1, 33, 243) 0%, rgb(15, 186, 243) 71%);
    }

    #video{
        display: flex;
        justify-content: center;
        margin-top: 100px;
        height: 400px;
        } 
</style>