<footer>
    <li><img src="/assets/images/bitmoji.png" alt="My bitmoji" style="width:80px;height:90px;margin: 15px;">
    <p>Author: Anees Rahman    © Anees    Made in 2023</p> </li>
    <h6></h6>        
</footer>

<style>

    footer li{
        background-color: rgb(156, 76, 242); 
        list-style-type: none;
        text-align: center;
        float: center;
        padding: 2%;
    }
</style>