<main>
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
    
     <h1 class="display-4"><b>Home Page</b></h1>
     <p>Welcome, this is the home page. My name is Anees and im happy to show you my first HTML website with node js and express js. <br> This website entails some of the work i've done, a brief introduction, and a way to contact me. enjoy. <br> Sincerly, Anees</p>
     <p> <br>  <b>Above you have three different sections:</b> <br> <b>Projects: Which are some projects i have previously worked on <br> <b>About me: A small introduction video <br> <b> Contact: Information on how to contact me </p>
    </div>
</div>
    
<style>

    body{    
        height: 200px;     
        background: linear-gradient(87.4deg, rgb(190, 227, 246) 1.9%, rgb(135, 225, 243) 49.7%, rgb(2, 230, 255) 100.5%);
    }

    main{
        height: 160px;
        text-align: center;
        padding-top: 5%;
        font-size: larger;
        
    }

</style>