<nav class="navbar navbar-expand-lg navbar-pink">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/Assets/images/bitmoji.png" alt="My Bitmoji" width="50" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
        <% if (title == "home") { %>
          <a class="nav-link active" aria-current="page" href="/home" style="color: #FFB6C1;">
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/home">
        <% } %>
          <i class="fa-solid fa-house"></i> Valentines</a>
        </li>

        <li class="nav-item">
        <% if (title == "about me") { %>
          <a class="nav-link active" aria-current="page" href="/about" style="color: #FFB6C1;"> 
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/about"> 
        <% } %>
          <i class="fa-solid fa-person"></i> Question</a>
        </li>



    </div>
  </div>
</nav>

<style>
  .navbar-pink {
    background-color: #800020; /* purple */
  }
  .nav-link {
    color: #FFD700; /* Gold */
    transition: font-size 0.2s; /* Smooth transition */
    padding-right: 20px; /* Add padding to the right */
    margin-right: 20px; /* Add margin to the right */
  }
  .nav-link:hover {
    color: #FFD700; /* Gold */
    font-size: 1.3em; /* Increase font size on hover */
    padding-right: 20px; /* Add padding to the right */
    margin-right: 20px; /* Add margin to the right */
  }
</style>