<div id="projectPics"> 

            <figure>
                <img src="/assets/images/ISL.png" alt="ISL" width="200" height="150">
            </figure>

            <figure>
                <img src="/assets/images/networking.png" alt="Networking" width="200" height="150">
            </figure>

            <figure>
                <img src="/assets/images/jn custom.png" alt="jn custom" width="200" height="150">
            </figure>

            <figure>
                <img src="/assets/images/KGSresearch.png" alt="KGSresearch" width="200" height="150">
            </figure>

            <figure>
                <img src="/assets/images/enercare.png" alt="Reservation system design" width="200" height="150">
            </figure>

            

</div>

<style>

    body{
        height: 450px;
        background: rgb(68,245,121);
        background: radial-gradient(circle, rgb(1, 33, 243) 0%, rgb(15, 186, 243) 71%);
    }

       

    figure {
        border: thick lightseagreen;
        float: left;
        display: flex;
        flex-flow: column;
        padding: 5px;
        max-width: 280px;
        margin: auto;
        padding-left: 60px;
        }
    img {
        max-width: 100%;
        max-height: 100%;
    }


</style>