<div id="projectPics"> 

            <figure>
                <img src="/assets/images/ISL.png" alt="ISL">
                <figcaption>I helped run the website for the Islamic Soccer League</figcaption>

            </figure>

            <figure>
                <img src="/assets/images/networking.png" alt="Networking">
                <figcaption>I made a networking project that connected computers from toronto to california in a secured connection for the sent information</figcaption>
            </figure>

            <figure>
                <img src="/assets/images/jn custom.png" alt="jn custom">
                <figcaption>I helped run the website as well as the companies social media channels</figcaption>
            </figure>

            <figure>
                <img src="/assets/images/KGSresearch.png" alt="KGSresearch">
                <figcaption>I helped run campaigns on the company servers to be able to allow employees to call people in america</figcaption>
            </figure>

            <figure>
                <img src="/assets/images/enercare.png" alt="Reservation system design">
                <figcaption>I helped run my companies sub branch company which controlled the job inputs</figcaption>
            </figure>

            

</div>

<style>

    #projectPics{
    width: 100%;height: 600px; 
    background-color: wheat;
    }
       

    figure {
        border: thick lightseagreen;
        float: left;
        display: flex;
        flex-flow: column;
        padding: 5px;
        max-width: 280px;
        margin: auto;
        padding-left: 60px;
        }
    img {
        max-width: 100%;
        max-height: 100%;
    }


    figcaption {
        background-color: blue;
        color: white;
        font: italic smaller sans-serif;
        padding: 3px;
        text-align: center;
    }



</style>